#notifies {
    position:fixed;
    width:auto;
    height:auto;
    right:0;
    z-index:9;
    white-space: nowrap;
    font-size: 1em;
    padding-right: 60px;
}

#notifies>.alert {
    width: 15em;
}